server:
  port: ${PORT:8080}

spring:
  application:
    name: notification-service
  rabbitmq:
    host: rabbitmq
    port: ${PORT:8080}

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/

