server:
  port: ${PORT:8080}

spring:
  application:
    name: inventory-service
  datasource:
    url: jdbc:mysql://localhost:3307/inventory_db?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
  rabbitmq:
    host: rabbitmq
    port: ${PORT:8080}

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/

