server:
  port: ${PORT:8080}

spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: file:///${user.dir}/config-repo

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

